name: Docker Build and Run

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Build Docker image
      run: docker build -t streamme:latest .
    
    - name: Run Docker container
      run: docker run --rm streamme:latest echo "Docker container ran successfully"
